@import '~normalize.css';

@import '~c3/c3.css';
@import '~shaka-player/dist/controls.css';

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font: 16px/1.25 sans-serif;
}

.app {
  display: flex;
}

.player,
.chart {
  flex-shrink: 0;
}

.c3-target-B {
  stroke-dasharray: 5;
}
